.pfp {
    border-radius: 100%;
    width: 15vw;
    height: 15vw;
}
.pfp-wrapper {
    display: flex;
}
.pfp-wrapper div {
    margin-left: 2.5vw;
}
.pfp-wrapper div h4 {
    margin: 0;
}
.top-panel {
    position: relative;
}
.top-panel h1 {
    text-align: center;
}
.top-panel p {
    position: absolute;
    background-color: white;
}